.popup{
    position: relative;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 50px black;
}

.popupWrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup ~ * *{
    filter: blur(5px) grayscale(100%);
}

.closeButton{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.closeButton div{
    position: absolute;
    top: 12px;
    left:0;
    width:30px;
    height: 6px;
    background-color: #101010;
}

.closeButton div:first-child{
    transform: rotate(45deg);
}

.closeButton div:last-child{
    transform: rotate(-45deg);
}


.waiting{
    position: fixed;
    top: 5px;
    width: 20vw;
    left: 40vw;
    background-color: rgba(32,178,170,0.3);

    border-radius: 5px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.waiting div{
    height: 20px;
    width: 20px;
    border: 5px solid gray;
    border-top: 5px solid lightseagreen;
    border-radius: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}