
body{
    margin: 0;
}

.editor{
    width: 90vw;
    height: 85vh;
    position: fixed;
    top: 10vh;
    left: 5vw;
    box-shadow: 0 0 5px #888888;
    display: flex;
    flex-direction: column;
}

.tools{
    width: 100%;
    background-color: lightseagreen;
    box-shadow: 0 0 5px #888888;
}

.paper{
    width: 90%;
    flex-grow: 1;
    height: 70vh;
    padding: 5% 5%;
    overflow-y: scroll;
}

.tool{
    cursor: pointer;
    width: 30px;
    padding: 5px;
}

.tool > img{
    width: 30px;
    height: 30px;
}

.tool > div{
    font-size: 25px;
}

.tool:hover{
    background-color: dimgray;
}

.tools{
    display: flex;
    flex-wrap: wrap;
}



.paper > audio:hover:before, .paper > img:hover:before{

}

.mediaWrapper{
    position: relative;
}

.closeButton.deleteMedia{
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
}
.closeButton.deleteMedia div{
    width:20px;
    height: 4px;
    top: 8px;
}

.mediaWrapper:not(:hover) > .closeButton{
    display: none;
}

.paper[contenteditable="false"] .closeButton{
    display: none;
}


.paper h1{
    font-size: 2em;
}




.paper h1:before{content: attr(id) " " }






.editable{
    position: absolute;
    top: 10px;
    right: 10px;
}



#custom-checkbox {
    overflow: hidden;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: lightblue;
    position: relative;
    display: block;
    cursor: pointer;
}

#custom-checkbox::before {
    position: absolute;
    content: "";
    display:block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    left: 0;
    transition: all 0.2s ease;
}

#custom-checkbox-input {
    display: none;
}

#custom-checkbox-input:checked + #custom-checkbox::before {
    left: 100%;
    transform: translateX(-100%);
    background: green;
}


.editable{
    top: 10px;
    right: 10px;
    position: absolute;
    display: flex;
    gap: 20px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}