
body{
    margin: 0;
}

.editor{
    width: 90vw;
    position: fixed;
    top: 10vh;
    left: 5vw;
    box-shadow: 0 0 5px #888888;
}

.tools{
    width: 100%;
    background-color: lightgray;
    box-shadow: 0 0 5px #888888;
}

.paper{
    width: 90%;
    height: 70vh;
    padding: 5% 5%;
    overflow-y: scroll;
}

.tool{
    cursor: pointer;
    width: 30px;
    padding: 5px;
}

.tool > img{
    width: 30px;
    height: 30px;
}

.tool > div{
    font-size: 25px;
}

.tool:hover{
    background-color: dimgray;
}

.tools{
    display: flex;
    flex-wrap: wrap;
}









.paper h1:before{content: attr(id)}