#sidebarToggle > *{
    position: fixed;
    top: 30px;
    left: 15px;
    height: 8px;
    width: 40px;
    border-radius: 4px;
    display: block;
    background-color: lightseagreen;
    z-index: 100;
}

#sidebarToggle{
    position: fixed;
    top: 15px;
    left: 15px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 100;
}

#sidebarToggle span{
    transition: transform 0.2s;
}


#sidebarCheckbox:not(:checked) ~ #sidebarToggle span:first-child{
    transform: translateY(-12px);
}

#sidebarCheckbox:not(:checked) ~ #sidebarToggle span:last-child{
    transform: translateY(12px);
}

#sidebarCheckbox:checked ~ #sidebarToggle span:not(:first-child){
    transform: rotate(45deg);
}

#sidebarCheckbox:checked ~ #sidebarToggle span:first-child{
    transform: rotate(-45deg);
}


#sidebarCheckbox{display: none;}



.sidebar{
    height: 100vh;
    width: 300px;
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: transform 0.5s;
}

#sidebarCheckbox:not(:checked) ~ .sidebar{
    transform: translateX(-300px);
}












/*
.sidebar-items{
    display: flex;
    flex-direction: column;
    gap: ;
}*/

.sidebar-items{
    width: 100%;
    padding-top: 80px;
    list-style-type: none;
    padding-left: 0;
}

.sidebar-items > li{
    font-size: 18px;
    text-align: center;
    padding: 1em 0em;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.sidebar-items li:first-letter{
    font-size: 1.1em;
}

.sidebar-items > li:not(:first-child):before{
    content: "";
    background-color: grey;
    height: 1px;
    width: 90%;
    margin: 0 auto;
    transform: translateY(-1em);

    display: block;
}



.sidebar-items li:not(.list):hover{
    cursor: pointer;
    background-color: #101010;
}

.chapters li:first-child{
    margin-top: 1em;
}

.chapters{
    width: 100%;
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.chapters *{
    font-size: 12px;
    padding: 1em;
    list-style-type: none;
    text-align: left;
}
